@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F3EAE3;
}

.main-cont {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont {
    background-color: white;
    max-width: 320px;
    border-radius: 10px;
    overflow: hidden;
}

.desktop-img {
    display: none;
}

.mobile-img {
    width: 100%;
}

.text-section {
    padding: 1.5rem;
    text-align: left;
}

.product, .description {
    color: #6c7289ff;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.product {
    letter-spacing: 5px;
}

.description {
    line-height: 1.5;
}

.prod-name {
    font-family: "Fraunces", serif;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.price-section {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.current-price {
    font-family: "Fraunces", serif;
    font-size: 28px;
    color: #3c8067ff;
    font-weight: 700;
}

.old-price {
    color: #6c7289ff;
    font-size: 14px;
    text-decoration: line-through;
}

button {
    background-color: #3c8067ff;
    color: white;
    padding: 0.75rem 0;
    width: 100%;
    margin: 1rem 0;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1b4133ff;
}


@media screen and (min-width: 768px) {
    .cont {
        max-width: 600px;
        display: flex;
    }

    .mobile-img {
        display: none;
    }

    .desktop-img {
        display: block;
        width: 50%;
    }

    .text-section {
        padding: 2em;
    }

    .prod-name {
        font-size: 2rem;
    }
  
}